services:
  - type: web
    name: n8n-buildwithshivang
    env: docker
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: N8N_PORT
        value: 5678
      - key: WEBHOOK_URL
        value: https://n8n.buildwithshivang.site/
      - key: 3yZ0xg1jAdcM5x+QZ4sT4bFjW9PQZf2A
        generateValue: true
      - key: N8N_BASIC_AUTH_ACTIVE
        value: "true"
      - key: N8N_BASIC_AUTH_USER
        value: admin
      - key: N8N_BASIC_AUTH_PASSWORD
        value: Shivang2022##
